body {
    margin: 0;
    padding: 0px 25px;
    background-color: #FCF8F5;
}

h1 {
    font-family: "Red Hat Text", sans-serif;
    font-size: 40px;
}

.imgButton>img{
    width: 100%;
    border-radius: 10px;
}

.imgButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 22px;
    width: 160px;
    height: 45px;
    border-color: hsl(14, 25%, 72%);
    font-family: "Red Hat Text";
    font-weight: 600;
    font-size: 14px;
    transform: translateY(-23px);
}

.addToCart > img {
    margin-right: 7px;
}

.foodTitle {
    color: hsl(7, 20%, 60%);
    font-family: "Red Hat Text";
    font-size: 15px;
}

.foodCard>p {
    margin: 0px;
    padding: 1px;
}